* {
	margin: 0;
	padding: 0;
}

body {
	background: url(../img/fondo.jpg) no-repeat top center;
	font-family: Arial, Helvetica, sans-serif;
}

#contenedor {
	width: 960px;
	margin: 0 auto;
}

#cabecera {
	position: relative;
	padding-top: 20px;
}

#logo {
	width: 21%;
	float: left;
	color: #fff;
	font-size: 34px;
	background: url(../img/nube.png) no-repeat left center;
	padding-left: 4%;
}

#menu {
	width: 75%;
	float: right;
	text-align: right;
	padding-top: 15px;
}

#menu ul {
	list-style-type: none;
}

#menu ul li {
	display: inline-block;
}

#menu ul li a {
	color: #fff;
	text-decoration: none;
	padding: 5px 20px;
	font-size: 14px;
}

#menu ul li a:hover,
#menu ul li a#activo:hover {
	border-bottom: 2px solid #fff;
}

#menu ul li a#activo {
	border-bottom: 1px solid #fff;
}

#mensaje {
	clear: both;
	height: 340px;
	position: relative;
	text-align: center;
	color: #fff;
	background: url(../img/nube-mensaje.png) no-repeat center 90px;
}

#mensaje h2 {
	position: relative;
	font-size: 32px;
	text-transform: uppercase;
	font-weight: normal;
	top: 160px;
}

#mensaje p {
	position: relative;
	font-size: 18px;
	top: 170px;
	letter-spacing: 4px;
}

#mensaje a {
	position: relative;
	top: 200px;
	color: #fff;
	text-decoration: none;
	border: 2px solid #fff;
	padding: 10px 30px;
	font-size: 14px;
}

#principal,
#footer {
	padding: 20px 0;
}

#principal img {
	width: 50%;
	float: right;
	margin-left: 20px;
}

#principal h1 {
	color: #f60;
	background: url(../img/nube-naranja.png) no-repeat left center;
	padding-left: 30px;
	margin-bottom: 15px;
}

#principal p {
	font-size: 12px;
	color: #555;
	letter-spacing: 1px;
	line-height: 1.9;
}

#principal hr {
	border: none;
	border-top: 1px solid #ccc;
	margin: 25px 0;
}

#principal iframe {
	width: 100%;
	height: 250px;
}

#footer {
	background: #ccc;
	text-align: center;
	position: relative;
}

#footer p {
	color: #555;
	font-size: 12px;
}

#footer img {
	position: absolute;
	right: 5px;
	top: 50%;
	margin-top: -8px;
}

#redes {
	position: fixed;
	right: 0;
	top: 420px;
	width: 36px;
}
